<div class="product-form-page">
    <h1>{{isEditing? 'Edit Product' : 'Add Product'}}</h1>
    <form [formGroup]="productForm" (submit)="handleSubmit($event)">
        <div class="form-group">
            <label for="">Product Name</label>
            <input type="text" formControlName="name">
        </div>

        <div class="form-group">
            <label for="">Sku</label>
            <input type="text" formControlName="sku">
        </div>

        <div class="form-group">
            <label for="">Stock Quantity</label>
            <input type="number" formControlName="stockQuantity">
        </div>

        <div class="form-group">
            <label for="">Price</label>
            <input type="number" formControlName="price">
        </div>


        <div class="form-group">
            <label for="">Description</label>
            <textarea formControlName="description"></textarea>
        </div>


        <div class="form-group">
            <label for="">Category</label>
            <select formControlName="categoryId" id="">
                <option value="">Select a category</option>
                <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="">Product Image</label>
            <input type="file" (change)="handleImageChange($event)">
            <div *ngIf="imageUrl">
                <img [src]="getImageUrl(imageUrl)" alt="preview" class="image-preview">
            </div>
        </div>

        <button type="submit">{{isEditing? 'Edit Product' : 'Add Product'}}</button>
    </form>

</div>
