<div class="purchase-form-page">
  <h1>Receive Inventory</h1>

  <!-- PRODUCT PURCHASE? INVENTORY RECEIVING PAGE -->
  <form [formGroup]="purchaseForm" (ngSubmit)="handleSubmit()">

    <div class="form-group">
      <label for="">Select Product</label>
      <select
        class="form-control"
        formControlName="productId"
        id="">
        <option value="">Select a product</option>
        <option *ngFor="let product of products" [value]="product.id">
          {{ product.name }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="">Select Supplier</label>
      <select
        class="form-control"
        formControlName="supplierId"
        id="">
        <option value="">Select a Supplier</option>
        <option *ngFor="let supplier of suppliers" [value]="supplier.id">
          {{ supplier.name }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="">Description</label>
      <input type="text" formControlName="description" class="form-control" />
    </div>


    <div class="form-group">
      <label for="">Quantity</label>
      <input type="number" formControlName="quantity" class="form-control" />
    </div>


    <button type="submit" class="btn btn-primary">Purchase Product</button>
  </form>
</div>
