.dashboard-container {
  padding: 20px;
}

.dashboard-container select {
  padding: 8px;
  font-size: 17px;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  margin: 0px 10px;
}

h1,
h2 {
  text-align: center;
}

.chart-container {
  width: 100%;
  overflow-x: auto;
}

ngx-charts-bar-vertical,
ngx-charts-pie-chart {
  display: block;
  margin: auto;
}

@media (max-width: 480px) {
  .dashboard-container {
    padding: 10px;
  }

  .dashboard-container select {
    margin: 5px;
  }
}
